@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");

* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Universal  */
:root{
  --clr-primary: #fe5722;
  --clr-secondary: #272d36;
}

body {
  font-family: "Merienda", cursive;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
}

.section {
  width: 100%;
  padding: 40px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0 30px;
}

.primary {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.secondary {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tertiary {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* End universal */

/* Menu */
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff5f2;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.22);
  z-index: 22;
}

label.logo {
  font-family: "Merindia", sans-serif;
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: 900;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  font-family: 'Playfair Display', sans-serif;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 18px;
  padding: 7px 13px;
  text-decoration: none;
  color: var(--clr-secondary);
}

.menu a.active,
.menu a:hover {
  border-bottom: 2px solid var(--clr-primary);
  transition: 0.3s;
}

.checkbtn {
  font-size: 30px;
  color: var(--clr-primary); /* Adjust the color to match your theme */
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block; /* Change this to 'block' to make it visible */
}

#check {
  display: none;
}

/* Add this for your custom SVG icon */
.custom-icon {
  width: 24px; /* Icon size */
  height: 24px; /* Icon size */
  fill: var(--clr-primary); /* Icon color, adjust as needed */
}

/* End Menu */

/* Hero Section */
#hero-section {
  background: #fff5f2;
  margin-top: 60px;
}

.text {
  width: 50%;
}

.visual {
  width: 50%;
  background-color: var(--clr-primary);
  border-radius: 50%;
}

.text {
  margin: 0 20px;
}

.visual img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 50%;
}

#hero-section .text {
  margin-left: 30px;
}

.description{
  font-family: 'Playfair Display', sans-serif;
  font-size: 3rem;
}

#hero-section .visual img {
  margin-left: auto;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;

  input {
    font-size: 1rem;
    width: 100%;
    color: #5e5e5e;
    background-color: #fff;
    border: 0;
    padding: 1.5rem;
    border-radius: 8px;
    outline: 2px solid transparent;

    &:focus {
      outline: none;
    }
  }

  .btn {
    padding:1rem 20px;
    background: var(--clr-primary);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 20px 0;
    &:focus {
      outline: none;
    }
  }
}

.searchResult {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: auto;
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /*Add vertical scroll if content exceeds height */
  background-color: transparent;

  li {
    color: #5e5e5e;
    font-size: 0.8rem;
    text-wrap: nowrap;
    padding: 10px;
  }
}
/* End Hero Section */

/* Category */

.mealCategories {
  display: flex;
  flex-direction: column;

  .slider {
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10px;
    .carouselItem {
      display: flex;
      flex-direction: column;
      flex: 1 0 17%;
      scroll-snap-align: center;
      height: 100px;
      width: 250px;
      border-radius: 50%;
      /* background-color: #c3872c; */

      img {
        width: 100%;
      }
      .categoryName {
        text-align: center;
        font-size: 10px;
      }
    }
  }
}

/*  End category */


/* About */
#about .visual img,
#app .visual img {
  margin-right: auto;
}
/* End About */

/* Restaurant Menu */
.category {
  list-style: none;
  text-align: center;
  margin: 20px 0 40px 0;
}

.category li {
  display: inline-block;
  margin: 0 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.category li.active {
  color: var(--clr-primary);
}

.restaurant-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item {
  width: 260px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.menu-item img {
  width: 100%;
}

.order {
  justify-content: space-between;
}

.btn-menu {
  padding: 6px 10px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

.title {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}

.location {
  font-size: 18px;
  font-weight: 500;
}
/* End Restaurant Menu */

/* mealarea and favorite */

.mealArea {
  display: flex;

  figure {
    width: 70vw;
    transition: all 0.4s ease-in-out;

    img {
      max-width: 100%;
      border-radius: 10px;
    }

    .rating i {
      color: #ffd700;
    }

    figcaption {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &:hover {
      transform: scale(0.95);
      color: #ff642f;
    }
  }
}

.mealArea {
position: relative;
}

.favorites .mealArea i {
color: var(--clr-primary);
position: absolute;
top: 0;
/* right: 0; */
}

/* End mealarea and favorite */

/* contactus */

.contactUs {
  background-color: #ffd8ca;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;

  h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
  }

  p {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }

  form {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;

    input {
      font-size: 1rem;
      padding: 1rem;
      width: 90%;
      border: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: #ff642f;
      color: #fff;
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem;
      cursor: pointer;
    }
  }

  small {
    text-align: center;
    padding: 1rem;

    &:hover {
      color: #ff642f;
    }
  }
}

/* End Contactus  */

/* Footer */

.footer {
  background: var(--clr-secondary);
  color: #b2b2b2;
  padding: 30px 0;
}

.footer .container {
  justify-content: space-between;
  align-items: flex-start;
}

.footer h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
}

.footer ul {
  list-style: none;
  line-height: 30px;
  font-size: 16px;
}

.footer ul li {
  cursor: pointer;
}

.footer-about {
  width: 35%;
}

.copyright {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #b2b2b2;
}
/* End Footer */

/*  end of navbar section*/

/* begining of the landing section */

.landing {
  background-color: #ff642f;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;

  span {
    text-align: center;
    color: #efefef;
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: 600;
  }
}

.searchbar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/images/bg\ \(2\).jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  p {
    text-align: center;
    color: #efefef;
    font-weight: 800;
    font-size: 2rem;
  }

  
}


