@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&display=swap");

* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Universal  */
:root{
  --clr-primary: #fe5722;
  --clr-secondary: #272d36;
}

body {
  font-family: "Merienda", cursive;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
}

.section {
  width: 100%;
  padding: 40px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0 30px;
}

.primary {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.secondary {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tertiary {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  padding: 14px 20px;
  background: var(--clr-primary);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  margin: 20px 0;
}

/* End universal */

/* Menu */
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff5f2;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.22);
  z-index: 22;
}

label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: 700;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 18px;
  padding: 7px 13px;
  text-decoration: none;
  color: var(--clr-secondary);
}

.menu a.active,
.menu a:hover {
  border-bottom: 2px solid var(--clr-primary);
  transition: 0.3s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* End Menu */

/* Hero Section */
#hero-section {
  background: #fff5f2;
  margin-top: 60px;
}

.text,
.visual {
  width: 50%;
}

.text {
  margin: 0 20px;
}

.visual img {
  width: 80%;
  height: auto;
  display: block;
}

#hero-section .text {
  margin-left: 30px;
}

#hero-section .visual img {
  margin-left: auto;
}
/* End Hero Section */

/* How It Works */
#how-it-works {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.box {
  border: 1px solid #b2b2b2;
  padding: 25px 5px;
  margin: 0 10px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s ease;
  cursor: pointer;
}

.box ion-icon {
  font-size: 35px;
  color: var(--clr-primary);
  margin: 15px 0;
}

.box.active,
.box:hover {
  color: #fff;
  border-color: var(--clr-primary);
  background: var(--clr-primary);
}

.box.active ion-icon,
.box:hover ion-icon {
  color: #fff;
}
/* End How It Works */

/* About */
#about .visual img,
#app .visual img {
  margin-right: auto;
}
/* End About */

/* Restaurant Menu */
.category {
  list-style: none;
  text-align: center;
  margin: 20px 0 40px 0;
}

.category li {
  display: inline-block;
  margin: 0 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.category li.active {
  color: var(--clr-primary);
}

.restaurant-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item {
  width: 260px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.menu-item img {
  width: 100%;
}

.order {
  justify-content: space-between;
}

.btn-menu {
  padding: 6px 10px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

.title {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}

.location {
  font-size: 18px;
  font-weight: 500;
}
/* End Restaurant Menu */

/* Testimonial */
#testimonial .visual img {
  margin-left: auto;
}

.user {
  margin-top: 30px;
  justify-content: start;
}

.user img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
/* End Testimonial */

/* FAQ */
#faq .secondary {
  text-align: center;
}

.faq {
  width: 60%;
  margin: 50px auto 20px auto;
}

summary {
  padding: 1em;
  border: 1px solid #b2b2b2;
  margin-bottom: 1em;
  cursor: pointer;
  outline: none;
  border-radius: 0.3em;
  font-weight: 600;
}

details[open] summary ~ * {
  animation: open 1s ease-in-out;
}

@keyframes open {
  from {
    opacity: 1;
    margin-top: -10px;
  }

  top {
    opacity: 1;
    margin-top: 0;
  }
}
/* End FAQ */

/* App */
#app {
  text-align: center;
}

.app-store {
  background: #000;
  margin: 0 10px;
  padding: 4px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.app-store p {
  margin-top: 8px;
}

.app-store span {
  font-size: 16px;
  line-height: 25px;
}

.app-store ion-icon {
  font-size: 30px;
  margin-right: 10px;
}

.download {
  margin: 30px 0;
}
/* End App */

/* Footer */
.footer {
  background: var(--clr-secondary);
  color: #b2b2b2;
  padding: 30px 0;
}

.footer .container {
  justify-content: space-between;
  align-items: flex-start;
}

.footer h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
}

.footer ul {
  list-style: none;
  line-height: 30px;
  font-size: 16px;
}

.footer ul li {
  cursor: pointer;
}

.footer-about {
  width: 35%;
}

.copyright {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #b2b2b2;
}
/* End Footer */

/*  end of navbar section*/

.searchResult {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: auto;
  background-color: #c3872c;
  width: 25%;
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /*Add vertical scroll if content exceeds height */
  color: #fff;
  background-color: transparent;

  li {
    color: #5e5e5e;
    font-size: 0.8rem;
    text-wrap: nowrap;
    text-align: center;
    padding: 10px;
  }
}

/* begining of the landing section */

.landing {
  background-color: #ff642f;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;

  span {
    text-align: center;
    color: #efefef;
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: 600;
  }
}

.searchbar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/images/bg\ \(2\).jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  p {
    text-align: center;
    color: #efefef;
    font-weight: 800;
    font-size: 2rem;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    input {
      font-size: 1rem;
      width: 50%;
      color: #5e5e5e;
      background-color: #efefef;
      border: 0;
      padding: 1.5rem;
      border-radius: 8px;
      outline: 2px solid transparent;

      &:focus {
        outline: none;
      }
    }

    .btn {
      font-size: 2rem;
      color: #efefef;
      text-align: center;
      cursor: pointer;
      width: 10%;
      padding: 1rem 0;
      border-radius: 8px;
      background-color: #ff0000;
      &:focus {
        outline: none;
      }
    }
  }
}

/* end of landing style and begining of popularArea style */

  .mealArea {
    display: flex;

    figure {
      width: 70vw;
      transition: all 0.4s ease-in-out;

      img {
        max-width: 100%;
        border-radius: 10px;
      }

      .rating i {
        color: #ffd700;
      }

      figcaption {
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
      }
      &:hover {
        transform: scale(0.95);
        color: #ff642f;
      }
    }
  }

.mealArea {
  position: relative;
}

.favorites .mealArea i {
  color: #ff0000;
  position: absolute;
  top: 0;
  /* right: 0; */
}

/* contact us section */

.contactUs {
  background-color: #ffd8ca;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;

  h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
  }

  p {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }

  form {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;

    input {
      font-size: 1rem;
      padding: 1rem;
      width: 90%;
      border: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: #ff642f;
      color: #fff;
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem;
      cursor: pointer;
    }
  }

  small {
    text-align: center;
    padding: 1rem;

    &:hover {
      color: #ff642f;
    }
  }
}

/* carouselContainerstyle */

.mealCategories {
  display: flex;
  flex-direction: column;

  .slide {
    display: flex;
    gap: 10px;
    .carouselItem {
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 250px;
      border-radius: 50%;
      /* background-color: #c3872c; */

      img {
        width: 100%;
      }
      .categoryName {
        text-align: center;
        font-size: 10px;
      }
    }
  }
}

footer {
  background: ;
}
